header {
  z-index: 10;
  top: 0;
  position: fixed;
  width: 100%;
  margin-bottom: 15px;

  p {
    margin: 0;
  }
}

nav {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
}

.left-side {
  .branding {
    font-size: 28px;
    font-weight: bold;
  }
}

.right-side {
  display: flex;
  align-items: center;
}
