.search {
  position: relative;
  margin: 0px auto 20px;
}

.input-container {
  text-align: left;
}

.search-city {
  width: 90%;
}

.location-container {
  top: 11px;
  right: 0;
  padding: 3px;
  position: absolute;
}

.locating-loader:focus {
  outline: none;
}
