.search {
  position: relative;
  margin: 0px auto 20px;
}

.input-container {
  text-align: left;
}

.search-city {
  width: 90%;
}

.location-container {
  top: 11px;
  right: 0;
  padding: 3px;
  position: absolute;
}

.locating-loader:focus {
  outline: none;
}

.error {
  color: red;
  font-size: 14px;
}

.display-search-results {
  z-index: 2;
  padding: 0;
  position: fixed;
  border-radius: 6px;
  width: 60%;
  margin-top: 2px;
  background-color: rgb(213, 230, 252);
  box-shadow: -3px 3px 6px 0px #a79f9f;
}

.search-card {
  padding: 10px;
  border: 1px solid lightblue;

  &:not(:last-child) {
    border-bottom: 1px solid;
  }

  p {
    margin: 0;
  }

  p.name {
    font-weight: bold;
  }

  p.address {
    font-style: italic;
  }
}
