.search {
  position: relative;
  margin: 0px auto 20px;
}

.input-container {
  text-align: left;
}

.search-city {
  width: 90%;
}

.location-container {
  top: 11px;
  right: 0;
  padding: 3px;
  position: absolute;
}

.locating-loader:focus {
  outline: none;
}

.error {
  color: red;
  font-size: 14px;
}

.display-search-results {
  z-index: 2;
  position: fixed;
  width: 50%;
  background-color: lightblue;
  margin-top: 4px;
}

.search-card {
  padding: 10px;
  border: 1px solid;
  border-radius: 6px;

  p {
    margin: 0;
  }
}
