.App {
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #07f;
}

.main-app {
  margin: auto;
  padding: 120px 15px 40px;
}

$i: 500;
@while $i < 1500 {
  @media (min-width: #{$i}px) {
    $rem: ($i - 400)/2;
    .main-app {
      padding-left: #{$rem}px;
      padding-right: #{$rem}px;
    }
  }

  $i: $i + 100;
}

.pointer {
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  resize: none;
  padding: 12px 10px;
  font-size: 18px;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid gray;

  &:focus {
    outline: none;
    border-color: #07f;
    box-shadow: -3px 3px 6px 0px #a79f9f;
  }
}

textarea.fixed-height {
  height: 4em;
}

textarea.disabled {
  background-color: #ddd;
}

button {
  width: 100%;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: royalblue;

  &.shadow {
    box-shadow: -3px 3px 6px 0px #a79f9f;
  }

  &:focus {
    border: 1px solid white;
  }
}

.close-container {
  top: 0;
  right: 0;
  padding: 3px;
  position: absolute;
}

.weather-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.page-heading {
  color: royalblue;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 40px;
  font-weight: bold;
}
