.App {
  padding: 25px 15px;
  font-family: sans-serif;
  text-align: center;
}

input,
textarea {
  padding: 7px;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid gray;

  &:focus {
    outline: none;
    border-color: orange;
    box-shadow: -3px 3px 6px 0px #a79f9f;
  }
}

button {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: #07f;
  box-shadow: -3px 3px 6px 0px #a79f9f;
}
