.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media (min-width: 680px) {
    .login-page {
      width: 450px;
    }
  }

  button {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: #07f;
    box-shadow: -3px 3px 6px 0px #a79f9f;
  }

  .div-input {
    margin-bottom: 30px;

    input {
      width: 100%;
    }
  }
}
