.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .login-page {
    padding: 0 10px;
  }

  @media (min-width: 680px) {
    .login-page {
      width: 450px;
    }
  }

  button {
    width: 100%;
  }

  .div-input {
    margin-bottom: 30px;

    input {
      width: 100%;
    }
  }
}
